(function () {
    'use strict';

    /*global angular:false */
        angular.module('app.{{&moduleName}}', [
            // Angular modules
            'ui.router'

            // Custom modules

            // 3rd Party Modules

        ]);
})();
