(function() {
    'use strict';

    /*global angular:false */
    angular
    .module('app.{{&moduleName}}')
    .config({{&moduleName}}Config);

    function {{&moduleName}}Config($provide) {
        $provide.constant('{{&upperCaseModuleName}}_STATE', {
        });
    }
})();