return $http({
    method: '{{method}}',
    url: baseURI + path,
    params: queryParameters,
    data: body,
    headers: headers
}).then(function(response) {
    {{#hasResponse}}
    return Jx{{&item}}.apiResponseTransformer(response.data);
    {{/hasResponse}}
    {{^hasResponse}}
    return response.data;
    {{/hasResponse}}
}, function(error) {
    throw new Error(common.getError(error));
});