(function() {
    'use strict';

    /*global angular:false */
    angular
        .module('app.{{&moduleName}}')
        .run(appRun);

    function appRun(statehelper, {{&upperCaseModuleName}}_STATE) {
        statehelper.configureStates(getStates());


        function getStates() {
            return [];
        }
    }
})();