(function() {
    'use strict';

    /*global angular:false */
    angular
        .module('app.{{&moduleName}}')
        .controller('{{&moduleName}}', {{&moduleName}});

    /* @ngInject */
    function {{&moduleName}}() {
        /*jshint validthis:true */
        var vm = this;

        _activate();

        function _activate() { }
    }
})();
