/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{{<%&type%>}}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 *
 */
{{^isGET}}
    {{#parameters.length}} function {{&methodName}}({{#parameters}}{{&camelCaseType}}{{/parameters}}, isBatch) { {{/parameters.length}}
{{/isGET}}
{{#isGET}}
    {{#parameters.length}} function {{&methodName}}(parameters, isBatch) { {{/parameters.length}}
{{/isGET}}

{{#parameters.length}}
    var path = '{{&path}}';
    var body;
    var queryParameters = {};
    var headers = {};
{{/parameters.length}}
{{^parameters.length}}
function {{&methodName}}(isBatch) {
{{/parameters.length}}

{{#isGET}}
    {{#parameters.length}}
    if(parameters === undefined) {
        parameters = {};
    }
    {{/parameters.length}}
    {{#parameters}}
        {{#required}}
        if(parameters.{{&camelCaseName}} === undefined)
            throw new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}');
        {{/required}}
        {{#isQueryParameter}}
            {{#isSingleton}}
                queryParameters['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if(parameters.{{&camelCaseName}} !== undefined){
                    queryParameters.{{&name}} = parameters.{{&camelCaseName}};
                }
            {{/isSingleton}}
        {{/isQueryParameter}}
        {{#isPathParameter}}
            path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', parameters.{{&camelCaseName}});
        {{/isPathParameter}}
        {{#isHeaderParameter}}
            {{#isSingleton}}
                headers['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                if(parameters.{{&camelCaseName}} !== undefined){
                    headers['{{&name}}'] = parameters.{{&camelCaseName}};
                }
            {{/isSingleton}}
        {{/isHeaderParameter}}
    {{/parameters}}
    {{#parameters.length}}
        if(parameters.$queryParameters) {
            Object.keys(parameters.$queryParameters)
            .forEach(function(parameterName){
                var parameter = parameters.$queryParameters[parameterName];
                queryParameters[parameterName] = parameter;
            });
        }
    {{/parameters.length}}
{{/isGET}}
{{^isGET}}
    {{#parameters}}
        {{#isPathParameter}}
            path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', {{#parameters}}{{&camelCaseType}}{{/parameters}}.{{titleCaseName}});
        {{/isPathParameter}}
    {{/parameters}}
    {{#parameters}}
        {{#required}}
        {{#isBodyParameter}}
        body = {{&camelCaseType}};
         if(_.isEmpty(body) || _.isUndefined(body))
            throw new Error('Missing required {{&type}} parameter: {{&camelCaseType}}');

        {{/isBodyParameter}}
        {{/required}}
        {{#isQueryParameter}}
            queryParameters['{{&camelCaseName}}'] = {{&modelName}}.{{&camelCaseName}};
        {{/isQueryParameter}}
    {{/parameters}}
{{/isGET}}
    {{^parameters}}
    var path = '{{&path}}';
    var body;
    var queryParameters = {};
    var headers = {};
    {{/parameters}}
    if(isBatch){
        return{
            relative_url: _.trimStart(path, '/'),
            {{#isGET}}
            {{#parameters.length}}
            body: parameters,
            {{/parameters.length}}
            {{^parameters.length}}
            body: body,
            {{/parameters.length}}
            {{/isGET}}
            {{^isGET}}
            body: body,
            {{/isGET}}
            method: "{{&method}}",
            name: "{{&method}}_{{&className}}_{{&methodName}}"
        };
    }
    else{
        {{> request}}
    }
}
